/* Root Variables */
:root {
  --base-color: #fffcf9;
  --body-color: #2a6f6f;
  --accent-color: #3fada8;
  --button-hover-color: #dfd1ee;
  --dark-oat-color: #f5eee7;
}

/* Body Styling */
body {
  font-family: 'Karla', sans-serif;
  color: var(--body-color);
  background-color: var(--base-color);
  margin: 0;
  text-align: center;
  padding: 20px;
}

/* Heading */
h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  color: var(--body-color);
  margin-bottom: 20px;
}

/* Video Styling */
#video {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 10px;
  border: 2px solid var(--dark-oat-color);
  border-radius: 8px;
}

/* Button Styling */
.buttons {
  margin-top: 15px;
}

button {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: var(--body-color);
  background-color: var(--dark-oat-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--base-color);
  font-weight: bold;
}

/* Message Container */
#message-container {
  margin: 0 auto; /* Center the element horizontally */
  width: 100%;
  max-width: 600px;
  height: 200px;
  overflow-y: auto;
  /* border: 1px solid var(--accent-color); */
  margin-top: 20px;
  padding: 10px;
  background-color: #f5eee7;
  text-align: left;
  border-radius: 8px;
}

/* Center message container along with other content */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Photo Gallery */
#photo-gallery {
  display: flex;
  max-width: 600px;
  justify-content: center;
  flex-wrap: wrap; /* Ensures images wrap to the next line if they overflow */
  margin-top: 20px;
}