:root {
  --base-color: #fffcf9;
  --primary-color: #2a6f6f;
  --secondary-color: #a8c3b5;
  --accent-color-1: #e17d63;
  --accent-color-2: #64a9db;
  --highlight-color: #f4b55e;
  --neutral-gray: #e0e2e4;
}

body {
  font-family: 'Karla', sans-serif;
  color: var(--primary-color);
  background-color: var(--base-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

#sidebar {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 80%;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  padding-top: 20px;
  color: var(--base-color);
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  margin: 20px 0;
}

#sidebar ul li a {
  color: var(--base-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 8px;
}

#sidebar ul li a:hover {
  background-color: var(--primary-color);
  color: var(--base-color);
  border-radius: 8px;
}

/* #main-content {
  margin-left: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#video {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 10px;
  border: 2px solid var(--neutral-gray);
  border-radius: 8px;
} */
/* #main-content {
  width: 80%;
  max-width: 900px;
   padding: 40px; 
  background-color: var(--base-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
} */

#main-content {
  width: 200%;  /* Center main content within the remaining space */
  max-width: 900px;
  padding: 40px;
  background-color: var(--base-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-left: 20px; /* Offset to center within the space left by the sidebar */
}


#left-align-content {
  width: 200%; 
  max-width: 900px;
  padding: 40px;
  background-color: var(--base-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-left: 250px;
}

#landing-component {
  width: 200%;  /* Center main content within the remaining space */
  max-width: 900px;
  padding: 40px;
  background-color: var(--base-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-left: 250px; 
}


#video {
  width: 150%;
  max-width: 700px;
  /* aspect-ratio: 16 / 9; */
  border: 2px solid var(--neutral-gray);
  border-radius: 20px;
  margin-top: 20px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--neutral-gray);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

button#start-camera:enabled {
  background-color: var(--secondary-color);
  color: var(--base-color);
}

button#stop-camera:enabled {
  background-color: var(--secondary-color);
  color: var(--base-color);
}

#message-container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--secondary-color);
  text-align: left;
  border-radius: 8px;
}

.icon-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.toggle-switch {
  position: relative;
  /* display: inline-block; */
  display: flex;
  width: 50px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-gray);
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}


/* Settings and Analysis Page Styling */
#settings-page, #analysis-page {
  text-align: left;
  padding: 0px;
  margin-bottom: 20px;
}

.settings-section h3 {
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: bold;
}

#frequency-section {
  margin-bottom: 50px;
}